
.App {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.errors {
  margin: 1%;
  font-size: 10px;
  color: red;
}

.errors div {
  display: block;
  margin-top: 4px;
}

ul {
  background-color: #0e7c7b;
  display: flex;
  justify-content: flex-end;
  margin: 0 0 3px;
  padding: 12px;
  box-shadow: 0 1px 3px rgba(0.12, 0.12, 0.12, 0.12), 0 3px 2px rgba(0.24, 0.24, 0.24, 0.24);
}

li {
  list-style: none;
  margin-right: 6px;
  color: white;
}

a {
  text-decoration: none;
  padding: 6px;
  color: white;
}

/*COMPLETED ITEMS */
.completed {
  text-decoration: line-through;
}

/* .signup-link {
  color: #0e7c7b;
} */

.extraText-link {
  color: #0e7c7b;
}